{
  "port": 3000,
  "pwd": "YOUR_SECURE_PASSWORD",
  "pointsRequired": 3,
  "interval": 600000,
  "apps": [
    {
      "folder": "p_app_pictures",
      "config": {
        "points": 3
      }
    }
  ]
}
